<template>
  <form action>
    <div class="modal-card" style="width: auto">
      <header class="modal-card-head">
        <p class="modal-card-title">Login</p>
      </header>
      <section class="modal-card-body">
        <b-field label="Email">
          <b-input
            type="email"
            :value="email"
            placeholder="Your email"
            required
          />
        </b-field>
        <b-field label="Password">
          <b-input
            type="password"
            :value="password"
            password-reveal
            placeholder="Your password"
            required
          />
        </b-field>
        <b-checkbox>Remember me</b-checkbox>
      </section>
      <footer class="modal-card-foot">
        <button class="button" type="button" @click="closeModal">
          Close
        </button>
        <button class="button is-primary">Login</button>
      </footer>
    </div>
  </form>
</template>

<script>
// TODO: adjust a template and style of this component according to needs
export default {
  name: 'ModalLoginForm',
  props: ['email', 'password'],
  data() {
    return {}
  },
  methods: {
    closeModal() {
      /* eslint-disable no-alert, no-console */
      console.log(this.$parent)
      // this.$parent.close()
      alert(
        'this.$parent.close() disabled. you can close it from console by calling it on logged object.'
      )
    }
  }
}
</script>
