<template lang="pug">
  section.section(class='is-marginless is-paddingless is-overlay')
    nav.navbar
    main.main
      nuxt/
    section.section
      div.columns
        div.column(class='is-2 is-offset-5')
          button.button(class='is-warning is-large' @click='toggleModalActive')
            b-icon(icon='home')
            span SHOW MODAL
    b-modal(:active.sync='isComponentModalActive' has-modal-card :can-cancel='false' animation='zoom-out')
      //- ORIGINALLY: b-modal(:active.sync='isComponentModalActive' has-modal-card :can-cancel='false' animation='zoom-out')
      modal-login-form(v-bind='formProps')
    footer.footer Obsah footeru...
</template>

<script>
import ModalLoginForm from '~/components/ModalLoginForm'

export default {
  components: {
    ModalLoginForm
  },
  data() {
    return {
      isComponentModalActive: null,
      formProps: {
        email: 'evan@you.com',
        password: 'testing'
      }
    }
  },
  methods: {
    toggleModalActive() {
      this.isComponentModalActive = true
    }
  }
}
</script>

<style>
/*
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
*/
</style>
